@import "@/assets/scss/common";

.Login {
    color: white!important;
    height: 100vh;
    background-image: url("../../assets/img/boyDream_bg.jpeg");
    background-size: 100% 100%;
    // background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

  &_header {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    height: 100px;
    letter-spacing: 14px
  }
}

:global {
  #test {
    .ant-tabs-tab {
      justify-content: center;
    }
    .ant-tabs {
      color: white;
      > .ant-tabs-nav {
        .ant-tabs-nav-wrap{
          justify-content: center
        }
      }
    }
    .ant-tabs-bar {
        border-bottom: 0;
        .ant-tabs-nav-container {
          text-align: center
        }
    }
    .card-container {
      width:90%;
      margin: auto
    }
     .card-container > .ant-tabs-card .ant-tabs-content {
    margin: auto;
    position: relative;
    @media screen and (min-width:1025px){
      width: 600px;
      height: 400px;
      padding: 20px 0 0;
    }
    @media screen and (min-width:640px) and (max-width: 1024px){
      width: 600px;
      height: 500px;
      padding: 20px 0 0;
    }
    @media screen and (max-width: 639px){
      height: 60vh;
    }
  }
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  margin: auto;
  width:400px;
  background: transparent;
  }
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
  }
.card-container > .ant-tabs-card .ant-tabs-tab {
  width: 200px;
  border-color: darkgray;
  background: darkgray;
    color: gray

  }
.card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: black;
  background: black;
  color: white
  }
}
}



