@import "@/assets/scss/common";

.order_wrap {
  margin-top:50px
}

.table_wrap {
  width:200px;
  float:left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom:10px;
}

.room_style {
  width:100%;
  height: 50px;
  text-align: center;
}

.rec_style {
  width:100%;
}

.order_right {
  margin-left: 200px;
  text-align: left
}

:global {
  #order{
    .ant-cascader-picker{
        margin-left: 20px!important
    }
  }
}