.app_header {
    /* min-height: 100vh; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #61C7FF;
    background-color:#0D73AD;
  }