.hoc {
  flex: 1;
  font-size: 16px;
  margin-right: 20px
}

.user {
    display: inline-block;
    width:200px;
    color: #61C7FF;
    text-align: right;
    margin-right: 10px
}

.logout {
  display: inline-block;
    width:50px;
}

.user:hover {
  color: orangered;
}

.logout:hover {
  color: orangered
}


