.g_img {
  width:100%;
}

.g_text {
  display: inline-block;
  width: 300px;
  white-space: pre-line;
}

.g_item_name {
  width: 250px
}

.g_item_item {
  width: 60px
}

.g_totalprice {
  color:red;
  padding: 16px 24px;
  float: right
}

:global {
  #previewModal{
    .ant-form-item-label{
      text-align: left
    }
  }
}